@media(max-width: 945px) {
    .hideonmobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .about-image {
        height: 300px;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

@media(max-width: 1099px) {
    #hero h1 {
        font-size: 70px;
        font-weight: 600;
    }
}
@media(max-width: 1015px) {
    #hero h1 {
        font-size: 50px;
        line-height: 60px;
    }
    #hero h2 {
        font-size: 15px;
    }
    #hero .dang-ky-content a {
        font-size: 15px;
    }
    #hero .dang-ky-content {
        display: flex;
        gap: 10px;
    }
}
@media(max-width: 751px) {
    #hero {
        display:block;
    }
    .dang-ky-image img{
        height: 255px;
        padding: 15px 0 0 50px;
    }
    .ladi-transtion {
        font-size: 23px;
        line-height: 1;
    }
}
